.trendingMovieCard {
  min-width: 10rem;
  width: 10rem;
  border-radius: 1.125rem;
  transition: all 0.2s ease-in-out;
}

.trendingMovieCard__image {
  width: inherit;
}

.trendingMovieCard__image img {
  width: 100%;
  border-radius: 1.125rem;
  object-fit: cover;
}

.trendingMovieCard__body {
  padding: 0.5rem;
}

.trendingMovieCard__title,
.trendingMovieCard__subtitle {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.trendingMovieCard__title {
  font-weight: 600;
}

.trendingMovieCard__subtitle {
  color: rgba(0, 0, 0, 0.6);
}
